:root{
    --white: #fff;
    --black: #000;

    --dark-blue-800: rgb(4, 112, 116);
    --dark-blue-600: rgb(17, 55, 126);
    --dark-blue-500: rgb(52, 101, 121);
    --dark-blue-400: rgb(37, 108, 141);
    --dark-blue-300: #2b3240;
    
    --blue-400: #44557a;

    --gray-500: #4e4e4c;
    --gray-500: #4e4e4c;
    --gray-500: #4e4e4c;
    --gray-500: #4e4e4c;
}